/* unvisited link */
.mylink:link {
  color: #ff0000;
}

/* visited link */
.mylink:visited {
  color: #00ff00;
}

/* mouse over link */
.mylink:hover {
  color: #ff00ff;
}

/* selected link */
.mylink:active {
  color: #0000ff;
}
.center_text {
  align-self: center;
}
.form_column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /*align-items: center*/
  padding: 6rem;
  min-height: 100vh;
}
.form_column > label {
  width: min-content;
}
.column {
  display: flex;
  flex-direction: column;
}
.flex_container_column {
  display: flex;
  flex-direction: column;
  /*background-color: red;*/
}
.flex_row {
  display: flex;
  flex-direction: row;
  /*background-color: yellow;*/
}

.flex_row > div {
  width: 40%;
  margin: 5%;
  background-color: dimgray;
}
